@import '../../styles/vars';
@import '../../styles/mixins';

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba($color-black, 0.5);


  .drawer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    min-width: 360px;
    background: $color-white;

    @media screen and (max-width: 920px) {
      width: 100%;
    }

  }

  .cart {
    padding: 40px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include mq($mq-md) {
      padding: 20px 20px;
    }

    .items-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;
      gap: 20px;
      margin-bottom: 40px;
      @include mq($mq-md) {
        margin-bottom: 20px;
      }
    }

    &_header {
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
    }

    &_close-btn {
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    &_item {
      display: flex;
      justify-content: flex-start;
      height: 150px;
      align-items: center;
      gap:40px;
      padding: 20px 40px;
      border: 1px solid $color-grey-1;
      border-radius: 10px;

      &-img{
        img{
          object-fit: contain;
          width: 50px;
        }

      }

      &-description {
        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
          margin-bottom: 10px;
        }

        span {
          font-weight: 600;
        }
      }

      &-btn {
        opacity: 0.5;
        cursor: pointer;
        margin-left: auto;
        &:hover {
          opacity: 1;
        }
      }
    }

    &_total {
      justify-self: flex-end;
      display: flex;
      flex-direction: column;

      &-phone-input {
        flex: 1;
        margin-bottom: 40px;
        input{
          border: 1px solid $color-grey-1;
          border-radius: 10px;
        }

      }

      &-description {
        display: flex;
        margin-bottom: 40px;
      }

      &-dots {
        flex: 1;
        margin: 0 10px;
        border-bottom: 1px dashed $color-grey-3;
      }

      &-price {
        font-weight: 600;
      }


    }

    &_final {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-wrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
      }

      h1 {
        margin-bottom: 20px;
      }

      p {
        color: $color-text-grey-2;
        margin-bottom: 40px;


      }

    }


  }
}
