@import '../../vars';

.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &>*{
    margin-bottom: 20px;
  }
}