$color-primary: #d48000;
$color-white: white;
$color-black: black;
$color-error:red;
$color-grey-1: #efefef;
$color-grey-2: #d7d7d7;
$color-grey-3: #9d9d9d;
$color-text-white: white;
$color-text-black: black;
$color-text-grey-1: #efefef;
$color-text-grey-2: #9d9d9d;

$mq-xs: 360px;
$mq-sm: 576px;
$mq-md: 768px;
$mq-lg: 992px;
$mq-xl: 1200px;
$mq-xxl: 1400px;