@import '../../styles/vars';
@import '../../styles/mixins';

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include mq($mq-md) {
    justify-content: center;
    gap: 10px;
  }

}