@import '../../styles/vars';
@import '../../styles/mixins';

.card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-width: 200px;
  max-width: 250px;
  border: 1px solid $color-grey-1;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  @include mq($mq-sm) {
    padding: 20px;
  }


  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  &_favourite {
    position: absolute;
    cursor: pointer;
  }

  &_img {
    margin-bottom: 15px;
    align-self: center;
  }

  &_description {
    margin-bottom: 20px;
  }

  &_bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    .price {
      p {
        color: $color-text-grey-2;
        font-size: 11px;
        font-weight: 500;
      }

      span {
        font-weight: 600;
      }
    }
    .amount{
      padding: 10px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}