@import '../../styles/vars';

.emty_banner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;


  .centerXY {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;


    .smile {
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      color: $color-text-grey-2;
      margin-bottom: 40px;
    }
  }
}