@import '../../vars';

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  border-bottom: 1px solid $color-grey-1;

  &_left {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    p {
      color: $color-text-grey-2;
    }
  }

  &_right {
    display: flex;
    gap: 30px;

    *{
      cursor: pointer;
    }

    .backet {
      img {
        margin-right: 10px;
      }
    }
  }

}
